<% provide(:title, 'Base Index') %>
<% provide(:button_text, '編集') %>

<h1>拠点一覧</h1>

<table class="table table-bordered table-condensed user-table">
  <tr>
    <td></td>
    <td></td>
    <td>拠点番号</td>
    <td>拠点名</td>
    <td>勤怠種類</td>
  </tr>
  
  <tr>
    <%= form_with(model: @user, local: true) do |f| %>
      <td><%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %></td>
      <td><%= link_to "削除", '#', class: "btn btn-primary" %></td>
      <td><%= f.text_field :name, class: "form-control" %></td>
      <td><%= f.text_field :name, class: "form-control" %></td>
      <td>
        <form method="get" action="select.html">
            <p>
              <select name="example" required>
              <option value=""></option>
              <option value="選択肢1">出勤</option>
              <option value="選択肢2">退勤</option>
            </p>
      </td>
    <% end %>
  </tr>
</table>

<%= link_to "拠点情報追加", '#', class: "btn btn-lg btn-primary" %>
  