<% provide(:title, 'Users') %>
<% provide(:button_text, '編集')%>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %><br/>
  <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
    <%= will_paginate @users, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
    
  <table class="table table-condensed table-hover" id="table-users">
    <p>Example</p>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %><br/>
          <% else %>
            <%= user.name %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
            <p><%= link_to "削除", user, method: :delete, class: "btn btn-primary btn-index",
              data: {confirm: "削除してよろしいですか？" } %></p>
            <div class="well">

              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" \
                 role="button" aria-expanded="false" aria-controls="collapseExample">編集</a>
                
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <%= form_with(model: user, url: user_path(user), local: true, method: :patch) do |f| %>
    
                    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
                    <%= f.text_field :name, class: "form-control" %>
                    
                    <%= f.label :email,class: "label-#{yield(:class_text)}" %>
                    <%= f.email_field :email, class: "form-control" %>
                    
                    <%= f.label :affiliation, class: "label-#{yield(:class_text)}" %>
                    <%= f.text_field :affiliation, class: "form-control" %>
                    
                    <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
                    <%= f.text_field :employee_number, class: "form-control" %>
                    
                    <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
                    <%= f.text_field :uid, class: "form-control" %>
                    
                    <%= f.label :password,class: "label-#{yield(:class_text)}" %>
                    <%= f.password_field :password, class: "form-control" %>
                    
                    <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
                    <%= f.password_field :password_confirmation, class: "form-control"%>
                    
                    <%= f.label :basic_time, class: "label-#{yield(:class_text)}" %>
                    <%= f.time_field :basic_time, class: "form-control" %>
                    
                    <%= f.label :designed_work_start_time, class: "label-#{yield(:class_text)}" %>
                    <%= f.time_field :designed_work_start_time, class: "form-control" %>
                    
                    <%= f.label :designed_work_finish_time, class: "label-#{yield(:class_text)}" %>
                    <%= f.time_field :designed_work_finish_time, class: "form-control" %>
                    
                    <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
    <%= will_paginate @users, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
</div>
