<% provide(:title, 'Users') %>
<% provide(:button_text, '編集')%>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %><br/>
  <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
    <%= will_paginate @users, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
    
  <table class="table table-condensed table-hover" id="table-users">
    <p>Example</p>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %><br/>
          <% else %>
            <%= user.name %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
            |  <%= link_to "削除", user, method: :delete, class: "btn btn-primary",
                data: {confirm: "削除してよろしいですか？" } %><br/>
                <!--<ul class="menu">-->
                <!--  <li class="menu__item">-->
                <!--      <a class="btn btn-index btn-primary js-menu__item__link" href="">編集</a>-->
                <!--      <ul class="submenu">-->
                <%= link_to "編集", edit_user_path(user), class: "btn btn-primary" %>
          <!--            </ul>-->
          <!--        </li>-->
          <!--    </ul>-->
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
    <%= will_paginate @users, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
</div>
