<% provide(:title, @user.name) %>
<% provide(:button_text, '申請する')%>

<div>
	<table class="table table-bordered table-condensed user-table">
		<tr>
			<td>
				<% if @user == current_user %>
					<%= link_to "⇦", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
					【<%= l(@first_day, format: :middle) %>】勤怠管理表
					<%= link_to "⇨", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
				<% else %>
					【<%= l(@first_day, format: :middle) %>】勤怠管理表
				<% end %>
				</td>
			<td>
				指定勤務開始時間:<%= format_basic_info(@user.designed_work_start_time ) %><br/>
				指定勤務終了時間:<%= format_basic_info(@user.designed_work_finish_time ) %>
				</td>
			<td colspan="3">基本時間:<%= format_basic_info(@user. basic_time) %></td>
			<td>初日:<%= l(@first_day, format: :short) %></td>
		</tr>
		
		<tr>
			<td>所属:<%= @user.try(:affiliation) %></td>
			<td>氏名:  <%= @user.name %></td>
			<td>コード</td>
			<td>5555</td>
			<td>出勤日数:<%= @worked_sum %></td>
			<td>月末日<%= l(@last_day, format: :short) %></td>
			</tr>
	</table>
</div>

<% if @user.superior? %>
	<div class="btn-users-show btn-superior-applies">
		<!--所長承認のお知らせ条件分岐-->
		<% @all_attendances.each do |a| %>
			<% if a.request_one_month.present? && a.approval_by_boss.nil?%>
				<% if a.request_one_month == current_user.name %>
					<% @link_to1 = 1 %>
					<% @attendance_sum = @attendance_sum + 1 %>
			 	<% end %>
			<% end %>
		<% end%>
		<% if @link_to1 == 1 %>
			<p class = "alart-for-boss"><%= link_to "【所長承認のお知らせ】",attendances_attendance_confirmation_user_path(@attendance),remote: true%>
				 <%= "#{@attendance_sum}件の通知があります。" %>
			</p>
		<% else %>
			<p>【所長承認のお知らせ】</p>
		<% end %>
		
		<!--勤怠変更申請のお知らせ条件分岐-->
		<% @all_attendances.each do |c| %>
			<% if c.request_for_change.present? && c.approve_change.nil? %>
				<% if c.request_for_change == current_user.name %>
					<% @link_to2 = 1 %>
					<% @change_sum = @change_sum + 1 %>
				<% end %>
			<% end %>
		<% end %>
		<% if @link_to2 == 1 %>
			<p class = "alart-for-boss"><%= link_to "【勤怠変更申請のお知らせ】",attendances_attendance_change_user_path(@attendance),remote: true %>
			   <%= "#{@change_sum}件の通知があります。"%>
			</p>
		<% else %>
			<p>【勤怠変更申請のお知らせ】</p>
		<% end %>
		
		<!--残業申請条件分岐-->
		<% @all_attendances.each do |i| %>
			<% if i.finish_time.present? && i.mark_by_instructor.nil? %>
				<% if i.mark_of_instructor == current_user.name %>
					<% @link_to3 = 1 %>
					<% @overtime_sum = @overtime_sum + 1 %>
				 <% end %>	
			<% end %>
		<% end %>
		<% if @link_to3 == 1 %>
			<p class = "alart-for-boss"><%= link_to "【残業申請のお知らせ】", attendances_overtime_confirmation_user_path(@attendance),remote: true %>
				 <%= "#{@overtime_sum}件の通知があります。" %>
			</p>
		<% else %>
			<p>【残業申請のお知らせ】</p>
		<% end %>
	</div>
<% end %>

	<div>
		<table class="table table-bordered table-condensed table-hover" id="table-attendances">
			<thead class= "thead-attendance-header">
				<tr>
					 <!--rowspan:縦結合、colspan：横結合-->
					<th rowspan="3">残業申請</th>
					<th rowspan="3">日付</th>
					<th rowspan="3">曜日</th>
					<th colspan="8">【実績】</th>
					<th colspan="5">所定外勤務</th>
				</tr>
				<tr>
					<th colspan="3">出社</th>
					<th colspan="3">退社</th>
					<th rowspan="2">在社時間</th>
					<th rowspan="2">備考</th>
					<th colspan="2">終了予定時間</th>
					<th rowspan="2">時間外時間</th>
					<th rowspan="2">業務処理内容</th>
					<th rowspan="2">指示者確認㊞</th>
				</tr>
				<tr>
					<th>時</th>
					<th>分</th>
					<th></th>
					<th>時</th>
					<th>分</th>
					<th></th>
					<th>時</th>
					<th>分</th>
				</tr>
			</thead>
			
			
			<tbody>
				<% @attendances.each do |day| %>
					<% if @user == current_user %>
						<% if day.worked_on == day.worked_on.beginning_of_month %>
							<%= link_to "勤怠を変更", attendances_edit_one_month_user_path(@user, date: day.worked_on), class: "btn btn-primary btn-attendance" %>
							<%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary btn-attendance" %></br>
							<%= link_to "勤怠修正ログ（承認済み）", attendances_confirm_log_change_user_path(@user), class: "btn btn-primary btn-attendance" %>
						<% end %>
					<% end %>
					<% css_class = case $days_of_the_week[day.worked_on.wday]
							when '土'
								'text-primary'
							when '日'
								'text-danger'
							end %>
					<tr>
						<td>
							<% if @user == current_user %>
								<%= link_to "残業申請", attendances_overtime_user_path(@user, date: day.worked_on), remote: true, class: "btn btn-primary" %>
							<% end %>
						</td>
						<td><%= l(day.worked_on, format: :short) %></td>
						<td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday]%></td>
						
						<% if day.latest_started_at.present? %>
							<td><%= l(day.latest_started_at, format: :hour) %></td>
							<td><%= l(day.latest_started_at.floor_to(15.minutes), format: :minute) %></td>
						<% else %>
							<td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
							<td><%= l(day.started_at.floor_to(15.minutes), format: :minute) if day.started_at.present? %></td>
						<% end %>
							<td>
								<% if (Date.current == day.worked_on) && day.started_at.nil?  %>
									<% if @user == current_user %>
										<%= link_to "出勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attenndance" %>
									<% end %>
								<% end %>
							</td>
						
						<% if day.latest_finished_at.present? %>
								<td><%= l(day.latest_finished_at, format: :hour) %></td>
								<td><%= l(day.latest_finished_at.floor_to(15.minutes), format: :minute) %></td>
						<% else %>
							<td><%= l(day.finished_at, format: :hour) if day.finished_at.present? && day.latest_finished_at.nil? %></td>
							<td><%= l(day.finished_at.floor_to(15.minutes), format: :minute) if day.finished_at.present? && day.latest_finished_at.nil? %></td>
						<% end %>
							<td>
								<% if (Date.current == day.worked_on) && day.finished_at.nil? && day.started_at.present? %>
									<% if @user == current_user %>
										<%= link_to "退勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attenndance" %>
									<% end %>
								<% end %>
							</td>
						<td>
							<% if day.started_at.present? && day.finished_at.present? && 
										day.latest_started_at.nil? && day.latest_finished_at. nil? %>
								<%= str_times1 = working_times(day.started_at, day.finished_at) %>
								
							<% elsif day.started_at.nil? && day.finished_at.nil? &&
											 day.latest_started_at.present? && day.latest_finished_at. present? %>
								<%= str_times2 = working_times(day.latest_started_at, day.latest_finished_at) %>
								
							<% elsif day.started_at.present? && day.finished_at.nil? &&
											 day.latest_started_at.present? && day.latest_finished_at. present? %>
								<%= str_times3 = working_times(day.latest_started_at, day.latest_finished_at) %>
							<% end %>
						<% @working_times = @working_times.to_f + str_times1.to_f + str_times2.to_f + str_times3.to_f %>
						</td>
						<td><%= day.note %></td>
						<td><%= l(day.finish_time, format: :hour) if day.finish_time.present? %></td>
						<td><%= l(day.finish_time.floor_to(15.minutes), format: :minute) if day.finish_time.present? %></td>
						<td>
							<% if day.tomorrow != "1" %>
								<% if day.finished_at.present? && day.latest_finished_at.nil? %>
									<%= str_times = over_working_times(@user.designed_work_finish_time.to_f, day.finished_at.to_f) %>
									
								<% elsif day.finished_at.nil? && day.latest_finished_at.present? %>
									<%= str_times = over_working_times(@user.designed_work_finish_time.to_f, day.latest_finished_at.to_f)%>
									
								<% elsif day.finished_at.present? && day.latest_finished_at.present? %>
									<% if day.finished_at > day.latest_finished_at %>
										<%= str_times = over_working_times(@user.designed_work_finish_time.to_f, day.finished_at.to_f) %>
										
									<% elsif day.finished_at < day.latest_finished_at %>
										<%= str_times = over_working_times(@user.designed_work_finish_time.to_f, day.latest_finished_at.to_f) %>
									<% end %>
								<% end %>
								
							<% else %>
								<% if day.finished_at.present? && day.latest_finished_at.nil? %>
									<%= str_times = over_working_times2(@user.designed_work_finish_time.to_f, day.finished_at.to_f) %>
									
								<% elsif day.finished_at.nil? && day.latest_finished_at.present? %>
									<%= str_times = over_working_times2(@user.designed_work_finish_time.to_f, day.latest_finished_at.to_f)%>
									
								<% elsif day.finished_at.present? && day.latest_finished_at.present? %>
									<% if day.finished_at > day.latest_finished_at %>
										<%= str_times = over_working_times2(@user.designed_work_finish_time.to_f, day.finished_at.to_f) %>
										
									<% elsif day.finished_at < day.latest_finished_at %>
										<%= str_times = over_working_times2(@user.designed_work_finish_time.to_f, day.latest_finished_at.to_f) %>
									<% end %>
								<% end %>
							<% end %>
							
						<% @over_working_times = @over_working_times.to_f + str_times.to_f %>
						</td>
						<td><%= day.work_contents %></td>
						<td>
							<% if day.mark_of_instructor.present? && day.mark_by_instructor.nil? %>
								<p>
									【<%= day.mark_of_instructor %>:
									 <%= "残業申請中" %>】
								</p>
							<% elsif day.mark_of_instructor.present? && day.mark_by_instructor.present? %>
								<p>
									【<%= day.mark_of_instructor %>:
									 <%= "残業#{day.mark_by_instructor}" %>】
								</p>
							<% end %>
							<% if day.request_for_change.present? && day.approve_change.nil? %>
								<p>
									【<%= day.request_for_change %>:
									 <%= "勤怠変更申請中" %>】
								</p>
							<% elsif day.request_for_change.present? && day.approve_change.present? %>
								<p>
									【<%= day.request_for_change %>
									<%= "勤怠編集#{day.approve_change}" %>】
							<% end %>
						</td>
					</tr>
				<% end %>
				<% if @user == current_user %>
					<%= form_with(model:@user, url: attendances_request_one_month_user_path(@user, date: @attendance.worked_on.end_of_month), local: true, method: :patch) do |f| %>
						<%= f.fields_for @attendance do |one_month| %>

							<tfoot>
								<tr>
									<!--rowspan:縦結合、colspan：横結合-->
									<td></td>
									<td colspan="2"></td>
									<td colspan="6"></td>
									<td><p>【就業合計時間】</p><%= format("%.2f", @working_times.to_f) %></td>
									<td colspan="3"></td>
									<td><p>【残業合計時間】</p><%= format("%.2f", @over_working_times.to_f) %></td>
									<td></td>
									<td>
										<% if @user == current_user %>
											<% if @last_attendance.request_one_month.present? && @last_attendance.approval_by_boss.nil? %>
												<p><%= "【#{@last_attendance.request_one_month}：申請中】" %></p>
											<% elsif @last_attendance.request_one_month.present? && @last_attendance.approval_by_boss.present? %>
												<p><%= "【#{@last_attendance.request_one_month}：#{@last_attendance.approval_by_boss}】"%></p>
											<% else %>
												<p>【所長承認：未提出】</p>
											<% end %>
											<p><%= one_month.collection_select(:request_one_month, @users, :name, :name)%></p>
												 <%= f.submit yield(:button_text),class: "btn btn-primary" %>
										<% end %>
									</td>
								</tr>
							</tfoot>  
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>

<!--モーダル 表示-->
<div id="overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>		
<div id="attendance_confirmation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="attendance_change" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="overtime_confirmation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>