<% provide(:title, 'Edit-Base') %>
<% provide(:button_text, '編集') %>

<h1>拠点一覧</h1>

  <%= form_with(model: @base, url: basis_path, local: true, method: :patch) do |f| %>
    <table class="table table-bordered table-condensed user-table">
      <tr>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>勤怠種類</td>
      </tr>
      <tr>
          <td><%= f.text_field :number, class: "form-control" %></td>
          <td><%= f.text_field :name, class: "form-control" %></td>
          <td><%= f.select :attendance_sort, [['--'], ['出勤'], ['退勤']] %></td>
        </tr>
    </table>
    <table class="center">
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-#{yield(:class_text)}" %>
      <%= link_to "キャンセル", bases_path, class: "btn btn-default btn-lg" %>
    </table>  
  <% end %>