<% provide(:title, 'Base-Index') %>
<% provide(:button_text, '編集') %>

<h1>拠点一覧</h1>

<table class="table table-bordered table-condensed user-table">
  <tr>
    <td></td>
    <td></td>
    <td>拠点番号</td>
    <td>拠点名</td>
    <td>勤怠種類</td>
  </tr>
  
  <tr>
    <%= form_with(model: @user, local: true) do |f| %>
      <td><%= link_to "修正", '#', class: "btn btn-primary" %></td>
      <td><%= link_to "削除", '#', class: "btn btn-primary" %></td>
      <td></td>
      <td><%= @bases.name %></td>
      <td></td>
  </tr>
</table>

<%= f.submit "拠点情報追加", class: "btn btn-lg btn-primary" %>
<% end %>