<% provide(:class_text, 'request_one_month') %>
<% provide(:button_text, '申請に返信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【勤怠申請】</h1>
        <%= form_with(model: @user, url: attendances_reply_attendance_user_path(@attendance), local: true, method: :patch) do |f| %>
          <% @user.each do |user| %>
            <h3><%="#{user.name}からの所長申請" %></h3>
              <div class="modal-body">
                <table class="table table-bordered table-request-form-overtime">
                  
                  <thead>
                    <tr>
                      <th>月</th>
                      <th>指示者確認㊞</th>
                      <th>変更</th>
                      <th>勤怠を確認する</th>
                    </tr>
                  </thead>
                    
                  <% @attendance.each do |attendance|%>
                    <%= f.fields_for 'attendances[]', attendance do |i|%>
                      <% if attendance.one_month_status == current_user.name \
                         && attendance.user_id == user.id %>
                      
                        <tbody>
                          <tr>
                            <th><%= l(attendance.worked_on, format: :month) %></th>
                            <th><%= i.select :one_month_status, [["なし"],["申請中"],["承認"],["否認"]] %></th>
                            <th><%= i.check_box :change, id: "remember_me" %></th>
                            <th><%= link_to "確認", user_path(user), class: "btn btn-primary", :target=>["_blank"] %></th>
                          </tr>
                        </tbody>
                       <% end %>
                     <% end %>
                   <% end %>
                 </table>
                </div>
            <% end %>
          <table class="center">
            <%= f.submit"変更を送信する", class: "btn btn-lg btn-primary" %>
          </table>
        <% end %>
    </div>
  </div>
</div>