<% provide(:class_text, 'request_form_overtime') %>
<% provide(:button_text, '申請に返信する') %>

<%= form_with(model: @user, url: attendances_reply_attendance_user_path(@attendance), local: true, method: :patch) do |f| %>
  <% @user.each do |user| %>
    <h1><%="#{user.name}からの所長申請" %></h1>
      <div class="modal-body">
        <table class="table table-bordered table-request-form-overtime">
          
          <thead>
            <tr>
              <th>月</th>
              <th>指示者確認㊞</th>
              <th>変更</th>
              <th>勤怠を確認する</th>
            </tr>
          </thead>
            
          <% @attendance.each do |attendance| %>
            <%= f.fields_for 'attendances[]', attendance do |i|%>
              <% if attendance.request_one_month == current_user.name \
                 && attendance.approval_by_boss.nil? \
                 && attendance.user_id == user.id %>
              
                  <tbody>
                    <tr>
                      <th><%= l(attendance.worked_on, format: :month) %></th>
                      <th><%= i.select :approval_by_boss, [["申請中"],["承認"],["否認"]] %></th>
                      <th><%= i.check_box :change, id: "remember_me" %></th>
                      <th><%= link_to "確認", user_path(user), class: "btn btn-primary" %></th>
                    </tr>
                  </tbody>
                 <% end %>
               <% end %>
            <% end %>
         </table>
        </div>
    <% end %>
  <table class="center">
    <%= f.submit"変更を送信する", class: "btn btn-lg btn-primary" %>
  </table>
<% end %>