<% provide(:title, current_user.name)%>

<h1>勤怠ログ</h1>

<%= form_with url: attendances_confirm_log_change_user_path, method: :get, local: true do |f| %>
<table class="table table-bordered table-hover table-log">
  <thead>
  
  <tr>
    <%= f.submit 'リセット', name: nil %>
  </tr>
  
   <tr>
    <th>年指定</th>
    <th><%= f.select :search, [[""],["2018"],["2019"],["2020"]], class: "form-control" %></th>
  </tr>
  
  <tr>
    <th>月指定</th>
    <th><%= f.select :search, [[""],["01"],["02"],["03"]], class: "form-control" %></th>
  </tr>
<% end %>
  <tr>
    <th>日付</th>
    <th>変更前出社時間</th>
    <th>変更前退社時間</th>
    <th>変更後出社時間</th>
    <th>変更後退社時間</th>
    <th>指示者</th>
    <th>承認日</th>
  </tr>
  
  <% @attendances.each do |change_log| %>
    <% if change_log.approve_change.present? %>
      <tr>
        <th><%= l(change_log.worked_on, format: :right) %></th>
        <th><%= l(change_log.started_at, format: :feather) if change_log.started_at.present? %></th>
        <th><%= l(change_log.finished_at, format: :feather) if change_log.finished_at.present?%></th>
        <th><%= l(change_log.latest_started_at, format: :feather) if change_log.latest_started_at.present?%></th>
        <th><%= l(change_log.latest_finished_at, format: :feather) if change_log.latest_finished_at.present?%></th>
        <th><%= change_log.request_for_change %></th>
        <th><%= l(change_log.updated_at, format: :light) %></th>
      </tr>
    <% end %>
  <% end %>
  
</table>
